<!--DOCTYPE HTML -->
<html ng-app="maps-render">
<head>
   <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
   <script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false'></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
   <script type="text/javascript" src="map-controller.js"></script>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
 </head>
  <body>
    <div ng-controller="MapRenderingController">
   <input type="text" id="searchbar" placeholder="SEARCH"/>
   <button id="searchButton" ng-click="click_me()"/>Click Me</button>
   <div id="map"  ng-model="maps" style="width: 100%;height:700px;">
   </div>
   </div>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      .searchbar {
        float: right;
      }
    </style>
    </body>
</html>